// Body
$body-bg: #FFF;
$body-color: #123291;

//Themes
$primary: #123291;
$secondary: #ad56c8;
$info: #ff7678;
$success: #28a745;
$warning: #ffc107;
$light: #F4F4F4;


// Typography
$font-family-sans-serif: 'Poppins', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
